body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.tanim{
    color: chocolate;
}
.top-banner{
    display: flex;
    background-image: url(/portfolio/images/top-banner.png);
    background-repeat: no-repeat;
}
.image{
    width: 50%;
}
.image img{
    width: 80%;
    /* text-align: center; */
}
.texts{
    padding-left: 5%;
}
h1{
    font-size: 50px;;
}
.texts a{
    text-decoration: none;
    padding: 5px 10px;
    /* background-color: chocolate; */
    background-image: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    border: 2px solid yellow;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.texts a:hover{
    color: black;
}
.dream-big{
    display: flex;
    padding-top: 50px;
}
.dream-image{
    width: 50%;
}
.dream-image img{
    width: 80%;
}
.dream-text a{
    text-decoration: none;
    background-image: linear-gradient( orange, yellow);
    padding: 10px 40px;
    font-weight: 800;
    border-radius: 50px;
}
.dream-text{
    background-image:url(/portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    /* margin: 0; */
    background-position: right;
}